BACKUP_CONTUGAS_27-09-2021.gdb filter=lfs diff=lfs merge=lfs -text
*.gdbtable filter=lfs diff=lfs merge=lfs -text
.gdbtable filter=lfs diff=lfs merge=lfs -text
VCentros_Malla_Vial_ICA.dbf filter=lfs diff=lfs merge=lfs -text
